@using E_Market.Core.Application.ViewModels.Anuncio
@model SaveAnuncioViewModel
@{
    ViewData["Title"] = "Detail";
}
<div class="container-fluid d-flex justify-content-around">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="width:600px; height:500px;">
        <div class="carousel-indicators">

            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @if(Model.Imagenes.Count > 0)
            {

                int i = 0;

                @foreach (var imagen in Model.Imagenes)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <img src="@Url.Content(imagen)" style="width:600px; height:500px;">
                    </div>
                }
            }
            else
            {
                <div class="carousel-item active">
                    <img src="https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png" style="width:600px; height:500px;">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>@Model.Nombre</h1>
        <h4>@Model.Descripcion</h4>
        <hr />
        <span>RD$@Model.Precio</span>
        <span>Contacto: @Model.Telefono</span>
        <span>Publicado  el @Model.Created.ToShortDateString()</span>
        <span>Creado por @Model.CreatedBy</span>
    </div>

</div>
